body{
    background-color: rgba(192, 192, 245, 0.582);
}
main{
    width: 400px;
    background-image: linear-gradient(to right, white, rgba(216, 210, 240, 0.226));
    text-align: justify;
    border: solid 1px gray;
    box-shadow: inset 0 0 2px rgb(82, 8, 255);
    margin: auto;
}
h1{
    
    margin-bottom: 0px;
    margin-left: 8px;
    padding: 0.1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.rapido-facil{
    margin-top: 0px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    color: gray;
    font-weight: normal;
}

#nome {
    margin: 8px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
    
}

#sobrenome{
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
}

#celular-ou-email {
    margin: 8px;
    width: 359px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
}

#senha{
    margin: 8px;
    margin-bottom: 15px;
    width: 359px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
}

.data-nascimento{
    color: grey;
    margin-bottom: 8px;
    margin-left: 8px;
    
}

#dia{
    margin: 1px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 8px;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
}

#mes{
    margin: 1px;
    margin-right: 10px;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
}

#ano{
    margin: 1px;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
}

.genero{
    color: grey;
    margin-bottom: 8px;
    margin-left: 8px;
}

.campo-nascimento{
    text-align: center;
}

.campo-genero {
    text-align: center;
}

#feminino  {
    margin-right: 30px;
    padding: 3px;
    
}

#masculino {
    margin-right: 30px;
    padding: 3px;
}

.termos{
    margin: 20px 10px;
    font-size: 12px;
    text-align: justify;
}

.cadastre-se {
   font-size: 25px;
    margin: 15px;
    margin-left: 140px;
    text-align: center;
    height: 50px;
    width: 150px;
    background-color: rgb(2, 53, 2);
    color: white;
    border: 0px;
    border-radius: 5px;
    border: 1px solid gray;
    
}

.cadastre-se:hover{
    background-color: rgba(121, 128, 121, 0.616);
    border-radius: 10px;
    cursor: pointer;
}

